@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 3.7rem;
    font-weight: 700;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
    line-height: unset;
  }

  h6 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.8rem;
  }

  header {
    & h2 {
      @apply mb-[2.4rem];
    }
    & p {
      @apply w-full;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .divider {
    & svg {
      @apply h-[8rem];
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .navbar {
    @apply px-[unset] relative mb-[8rem] h-[8rem];
    //
    & ul {
      //
      & li {
        color: $color-white;
        @apply text-[3.7rem] font-medium;
      }
      //
      & li:nth-of-type(4),
      & li:nth-of-type(5) {
        @apply block w-[5.6rem] h-[5.6rem];
      }

      & > * {
        &:not(:nth-of-type(4), :nth-of-type(5)) {
          @apply hidden mb-[2.4rem];
          color: $color-white;
          @apply text-[3.7rem] font-medium;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .hero {
    @apply my-[8rem];

    &_image {
      @apply w-full mt-[4.8rem];
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .story {
    @apply w-full my-[8rem];

    &_image {
      @apply w-full mt-[4rem];
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .party {
    @apply my-[8rem] px-0;

    &_row {
      @apply flex-col;
      & figure {
        @apply mt-[4rem];
        & img {
          @apply h-[unset] w-[100%] mb-[1.6rem];
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .itinerary {
    @apply my-[8rem];
    &_card {
      @apply w-full;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .registry {
    @apply my-[8rem];
    & a {
      @apply w-full;
    }
    & main {
      @apply flex-col;
      & figure {
        @apply w-[100%];
        & img {
          @apply w-[100%];
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .venue {
    @apply my-[8rem];

    & header {
    }

    &_top {
      @apply flex-col w-full;
    }

    &_bottom {
      @apply flex-col-reverse w-full mt-[4rem];
    }

    &_left {
      @apply w-full;
    }

    &_right {
      @apply w-full space-y-[1.6rem] mt-[4rem];
    }

    &_card {
      @apply space-y-[1.6rem] pb-[2.4rem];
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .rsvp {
    @apply my-[8rem];
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .copyright {
    @apply w-full;
    & a {
      @apply w-2/3 text-center;
    }
  }
}
