.navbar {
  @apply px-[16rem];
  & ul {
    @apply flex;

    & > * {
      &:not(:nth-child(3), :nth-child(4)) {
        @apply text-[2.2rem] h-[4.8rem] flex items-center;
        color: $color-burgundy-heavy;
      }
    }

    & li:nth-of-type(3) {
      @apply w-[7.7rem] h-[7.6rem];
    }
    & li:nth-of-type(4) {
      @apply hidden;
    }
  }
}
